@model AgroEcommerceLibrary.Seller.Seller
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".CategoryName").change(function () {
            var id = $(this).val();

            $("#subcategory1").empty();
            $.get("/Seller/BindSubCategory1", { CategoryCode: id }, function (data) {
                var v = "<option>--Select--</option>";

                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });

                $(".subcategory1").html(v);
            });
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-left:80px">
        @*<div style="background-image:linear-gradient(to right,#003366,white)">
                <h3 style="color:white">
                    Sub Category 2
                </h3>
            </div>*@
        <div>
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "col-form-label label-align" })<span class="required">*</span>
        </div>
        <div class="col-md-11">
            @Html.DropDownListFor(model => model.CategoryCode, new SelectList(ViewBag.Category, "Value", "Text"), "--Select--", new { @class = "form-control CategoryName" })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

        </div>
        <div>
            @Html.LabelFor(model => model.SubCategory1Name, htmlAttributes: new { @class = "col-form-label label-align" })<span class="required">*</span>
        </div>
        <div class="col-md-11">
            <select id="subcategory1" name="SubCategory1Code" class="form-control subcategory1" required></select>
            @Html.ValidationMessageFor(model => model.SubCategory1Code, "", new { @class = "text-danger" })

        </div>
        <div>
            @Html.LabelFor(model => model.SubCategory2Name, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SubCategory2Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SubCategory2Name, "", new { @class = "text-danger" })

        </div>
        <br />
        @*<hr />*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:10px">
                <input type="submit" style="background:#003366;color:white" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

