@model AgroEcommerceLibrary.AccountUser.AccountUser

@{
    ViewBag.Title = "ForgotPasswordBuyer";
    Layout = "~/Views/Shared/Buyer_Layout.cshtml";
}

<style type="text/css">
    .form-horizontal {
        border: 2px groove;
        width: 400px;
        margin: 50px 400px 50px 400px;
        padding: 20px;
        border-radius: 20px;
    }

    input {
        width: 300px;
        border-radius: 20px;
        border: 2px solid grey;
    }

    #SubmitPass {
        width: 100px;
        border-radius: 50px;
        background: linear-gradient(0deg, rgba(75,255,68,1) 0%, rgba(213,255,92,1) 100%);
        font-weight: bold;
        font-family: Constantia;
    }

        #SubmitPass:hover {
            background: linear-gradient(176deg, rgba(75,255,68,1) 0%, rgba(213,255,92,1) 100%);
        }

    .col-md-offset-2 {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;

   

    }
    #btnCancel {
        background-color: mediumseagreen;
        padding: 5px;
    }
   


    .buttonsReg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 400px;
        margin-right: 800px;
    }
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3 style="text-align:center; font-weight:bold;font-family: Constantia">Forget Password</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" id="SubmitPass" />
            </div>
            <div class="col-md-offset-2 col-md-10 " style="text-align:center">
                <a id="btnCancel" href="/Account/Login">Cancel</a>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/SweetAlert2Js/sweetalert2@11.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SubmitPass").click(function () {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Mail Is Send In Your Gmail!!!',
                showConfirmButton: false,
                timer: 8000
            })
        })
    })
</script>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
