@model AgroEcommerceLibrary.Admin.Admin

@{
    ViewBag.Title = "AllOrderDetails";
    //Layout = "~/Views/Shared/Admin_Layout.cshtml";
}



<div>



    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainImage)
        </dt>

        <dd style="text-align:center">
            <img src="~/Content/Images/Product/@Model.MainImage" width="180" height="200" />
            @*@Html.DisplayFor(model => model.MainImage)*@
        </dd>
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.OrderCode):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.OrderCode)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.ShippingCharges):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.ShippingCharges)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.BusinessName):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.BusinessName)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.ProductCode):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.ProductCode)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.TotalAmount):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.TotalAmount)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.ProductName):</b>
            </span>

            <span class="form-group col-sm-5">
                @Html.DisplayFor(model => model.ProductName)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.Date):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.Date)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.Status):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.Status)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.ProductQuantity):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.ProductQuantity)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.ProductWeight):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.ProductWeight)
            </span>
        </div>
        <br />
        <hr />
        <h4 style="text-align:center">Customer Details</h4>
        <hr />
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.BuyerFullName):</b>
            </span>

            <span class="form-group col-sm-5">
                @Html.DisplayFor(model => model.BuyerFullName)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.MobileNo):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.MobileNo)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.EmailId):</b>
            </span>

            <span class="form-group col-sm-3">
                @Html.DisplayFor(model => model.EmailId)
            </span>
        </div>
        <br />
        <div class="row">
            <span class="form-group col-sm-4">
                <b>@Html.DisplayNameFor(model => model.HomeAddress):</b>
            </span>

            <span class="form-group col-sm-8">
                @Html.DisplayFor(model => model.HomeAddress)
            </span>
        </div>
        <hr />
        <div style="text-align:right">
            <button type="button" class="btn response" style="background-color: green">
                @Html.ActionLink("Close", "AllOrder", new { @class = "btn-xs" }, new { @style = "color:white;" })
            </button>
            @*<input type="submit" formaction="@Url.Action("PendingProductList","Admin")" value="Close" />*@
        </div>

        @*<dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Commision)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Commision)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>




            <dt>
                @Html.DisplayNameFor(model => model.SellerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellerCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellerCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellerFullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellerFullName)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.AadharNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AadharNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AadharImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AadharImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessAadharNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessAadharNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessAdharImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessAdharImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessPanNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessPanNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BusinessPanImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BusinessPanImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PanCardNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PanCardNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PanImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PanImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GSTIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GSTIN)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.OfficeAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfficeAddress)
            </dd>




            <dt>
                @Html.DisplayNameFor(model => model.RejectionReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RejectionReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StatusId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StatusId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MRP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MRP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaximumStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaximumStock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MinimumStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MinimumStock)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsProductReturnable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsProductReturnable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsProductExpirable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsProductExpirable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductExpiryDuration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductExpiryDuration)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductRegistrationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductRegistrationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ManufacturerName)
            </dd>*@





    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
