@model AgroEcommerceLibrary.Admin.Admin

@{
    ViewBag.Title = "DetailSeller";
    //Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.GSTIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTIN)
        </dd>


    </dl>
</div>
<button>@Html.ActionLink("Close", "SellerDetailsGrid")</button>
