@model AgroEcommerceLibrary.Admin.Admin

<div>
    @*<h4>Admin</h4>
        <hr />*@

    <h2 style="text-align: center; color: palegoldenrod"> &#9752; Product Details &#9752;</h2>
    <hr />
    @*<main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">*@
    <dl class="dl-horizontal">
        <div class="row">
            <div class="form-group col-sm-5">
                <dt>
                    @Html.DisplayNameFor(model => model.MainImage)
                </dt>

                <dd>
                    <img src="~/Content/Images/Product/@Model.MainImage" width="180" height="200" />
                    @*@Html.DisplayFor(model => model.MainImage)*@
                </dd>
            </div>
            <div class="form-group col-sm-7" style="margin-top:75px">
                <span class="form-group col-sm-3">
                    <b> @Html.DisplayNameFor(model => model.ProductCode) : </b>
                </span>

                <span class="form-group col-sm-4">
                    @Html.DisplayFor(model => model.ProductCode)
                </span>
                <br />
                <span class="form-group col-sm-3">
                    <b> @Html.DisplayNameFor(model => model.ProductName) : </b>
                </span>

                <span class="form-group col-sm-4">
                    @Html.DisplayFor(model => model.ProductName)
                </span>
                <br />
                <span class="form-group col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.MRP) : </b>
                </span>

                <span class="form-group col-sm-4">
                    @Html.DisplayFor(model => model.MRP)
                </span>
                <br />
                <span>
                    <b>@Html.DisplayNameFor(model => model.Status) : </b>
                </span>

                <span>
                    @Html.DisplayFor(model => model.Status)
                </span>
            </div>
        </div>
        <hr />
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Description) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <hr />
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b> @Html.DisplayNameFor(model => model.ProductExpiryDuration) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.ProductExpiryDuration)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b>@Html.DisplayNameFor(model => model.ProductRegistrationDate) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.ProductRegistrationDate)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b>@Html.DisplayNameFor(model => model.ManufacturerName) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.ManufacturerName)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b>@Html.DisplayNameFor(model => model.MaximumStock) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.MaximumStock)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b>@Html.DisplayNameFor(model => model.MinimumStock) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.MinimumStock)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b> @Html.DisplayNameFor(model => model.SellerFullName) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.SellerFullName)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b> @Html.DisplayNameFor(model => model.MobileNo) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.MobileNo)
            </span>
        </div>
        <br />

        <div class="row">
            <span class="form-group col-sm-6">
                <b>@Html.DisplayNameFor(model => model.OfficeAddress) : </b>
            </span>

            <span class="form-group col-sm-6">
                @Html.DisplayFor(model => model.OfficeAddress)
            </span>
        </div>
        @*<dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>*@
    </dl>
    @*</main>*@
</div>
<br />
<hr />
<div style="text-align:right">
    <button type="button" class="btn response" style="background-color:green">
        @Html.ActionLink("Close", "PendingProductList", new { @class = "btn-xs" }, new { @style = "color:white;" })
    </button>
    @*<input type="submit" formaction="@Url.Action("PendingProductList","Admin")" value="Close" />*@
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
