@model AgroEcommerceLibrary.Buyer.Buyer
@using AgroEcommerceLibrary.Buyer;
@using System.Data.SqlClient;
@using System.Data;
@{
    ViewBag.Title = "Buyer_Layout";
    ViewBag.Title = "BuyerController";
}




@*<h2>Buyer_Layout</h2>*@
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Agro E-Commerce</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->

    <link href="~/Content/Buyer_css/bootstrap.min.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="~/Content/Buyer_css/bootstrap-select.css" rel="stylesheet" />

    <link href="~/Content/Buyer_css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->

    <link href="~/Content/Buyer_css/responsive.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/Buyer_css/custom.css" rel="stylesheet" />

    @*<link href="~/Content/Buyer_css/all.css" rel="stylesheet" />*@

    @*[if lt IE 9]>*@

    @* font aweseme cdn *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <hr />
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row" id="google_element">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        @*<button class="translate button" id="ma">Marathi</button>
                            <button class="translate button" id="hi">Hindi</button>*@
                        @*<select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                <option>¥ JPY</option>
                                <option>$ USD</option>
                                <option>€ EUR</option>
                            </select>*@
                    </div>

                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> +91 9421826337</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li class="lang" key="My Account"><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            @*<li class="lang" key="Our location"><a href="#"><i class="fas fa-location-arrow lang"></i> Our location</a></li>*@
                            <li class="lang" key="Contact Us"><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>

                    </div>


                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="login-box">
                        @if (Session["BuyerCode"] == null)
                        {
                            <a class="btn btn-success" style="background-color:#b0b435;font-weight:bolder;" href="@Url.Action("Login", "Account")">Sign In </a>
                        }
                        @if (Session["BuyerCode"] != null)
                        {
                            <a class="btn btn-success" style="background-color: #b0b435; font-weight: bolder;" href="@Url.Action("Logout", "Account")">Log Out</a>
                        }
                        @*<select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                                <option>Register Here</option>
                                <option>Sign In</option>
                            </select>*@
                    </div>
                    @*<div class="text-slid-box">
                            <div id="offer-box" class="carouselTicker">
                                <ul class="offer-box">
                                    <li>
                                        <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                                    </li>
                                    <li>
                                        <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Content/Images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item "><a class="nav-link lang" key="Home" href="@Url.Action("Index","Buyer")">Home</a></li>
                      
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow">Category</a>
                            <ul class="dropdown-menu" style="width: 900px; height: 100px; font-size: 22px;font-weight: bold; margin-left: -200px; justify-content:space-between; text-align:center;align-items: stretch;">
                                @foreach (var item in (List<Buyer>)ViewData["cat"])
                                { 
                                    <li class="dropdown" style="display: inline-block; justify-content: space-between">
                                        <a href="@Url.Action("MegaMenu","Buyer", new {CategoryCode=item.CategoryCode})" class="nav-link dropdown-toggle arrow" data-id="@item.CategoryCode">@item.CategoryName </a>
                                        <ul class="dropdown-menu" style="width: 180px; height: auto;margin:55px; font-size:16px; font-weight: bold; margin-left: -200px; justify-content: space-evenly; text-align: center; align-items: stretch;">
                                            @foreach (var items in (List<Buyer>)ViewData["SubCat"]@*.Where (model => model.CategoryCode == model.CategoryCode)*@)
                                            {
                                                if (item.CategoryCode == items.CategoryCode)
                                                {
                                                    <li style="display:inline-block;">
                                                        <a href="@Url.Action("MegaMenu","Buyer", new {SubCategory1Code=items.SubCategory1Code})" data-id="@items.SubCategory1Code"><strong> @items.SubCatagory1Name </strong></a>
                                                    </li>
                                                } 
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                        
                        <li class="nav-item"><a class="nav-link lang" key="ABOUT US" href="about.html">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow lang" key="SHOP" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu lang" style="font-size:22px;font-weight:bold;">
                                <li> <a class="lang" key="Sidebar Shop" href="@Url.Action("SideBarShop","Buyer")">Products</a></li>
                                @*<li> @Html.ActionLink("New Shop","index","Buyer")</li>*@
                                @*<li> <a class="lang" key="Shop Detail" href="shop-detail.html">Shop Detail</a></li>*@
                                <li><a class="lang" key="Cart" href="@Url.Action("ViewCart","Buyer")">Cart</a></li>

                                <li><a class="lang" key="Wishlist" href="@Url.Action("WishListGrid","Buyer")">Wishlist</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link  lang" key="Contact Us" href="contact-us.html">Contact Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">My Account</a>
                            <ul class="dropdown-menu" style="font-size:22px;font-weight:bold;">
                                <li class="dropdown">
                                    <a href="shop.html" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">My Profile</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop.html">Update Profile</a></li>
                                        <li><a href="shop-detail.html">Change Password</a></li>
                                    </ul>
                                <li class="dropdown">
                                    <a href="@Url.Action("OrderHistory","Buyer")">My Orders</a>

                                <li><a href="@Url.Action("MyWallet","Buyer")">My Wallet</a></li>
                                @*<li><a href="checkout.html">Update Kyc</a></li>*@
                                <li><a href="my-account.html">Notifications</a></li>
                                <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                @using (Html.BeginForm("SideBarShop", "Buyer", FormMethod.Get))
                {
                    @*<input type="text" name="prosearch" />
                        <input type="submit" value="Search" name="Submit" />*@
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" name="prosearch" placeholder="Search" id="Search">
                                @*<input type="submit" value="Search" name="Submit" style="background-color:yellowgreen" />*@
                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                }


                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        @*<li class="side-menu">
                                <a href="#">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge">3</span>
                                    <p>My Cart</p>
                                </a>
                            </li>*@
                    </ul>
                </div>
                @*End Atribute Navigation*@
            </div>
            @*Start Side Menu*@
            @*<div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            <li>
                                <a href="#" class="photo"><img src="~/Content/Images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>1x - <span class="price">$80.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="~/Content/Images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Omnes ocurreret</a></h6>
                                <p>1x - <span class="price">$60.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="~/Content/Images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Agam facilisis</a></h6>
                                <p>1x - <span class="price">$40.00</span></p>
                            </li>
                            <li class="total">
                                <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                                <span class="float-right"><strong>Total</strong>: $180.00</span>
                            </li>
                        </ul>
                    </li>
                </div>*@
            @*End Side Menu*@
        </nav>
        @*End Navigation*@
    </header>
    @RenderBody()

    @*End Main Top
        Start Footer*@
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Business Time</h3>
                            <ul class="list-time">
                                <li>Monday - Friday: 08.00am to 05.00pm</li>
                                <li>Saturday: 10.00am to 08.00pm</li>
                                <li>Sunday: <span>Closed</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Newsletter</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Social Media</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About AGRO E-Commerce</h4>
                            <p>
                                We work close by agriculturists, makers, producers, retailers, governments, and different associations to satisfy our motivation to support the world in a protected,
                                dependable and practical way. Together, we make efficiencies, create developments, and help networks flourish.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: 07,Upendra Opposite To Hotel Nisarg <br>,Khilare Road,<br> Erandwane,Pune-45</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+91 9421826337">+91 9421826337</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="#">info@aadityafoundation.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </footer>

    @*End Footer*@
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    @*- Language*@
    @*<script src="~/Scripts/Buyer_js/jquery-3.2.1.min.js"></script>*@
    @*<script src="~/Scripts/Buyer_js/LanguageJavaScript.js"></script>*@
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@

   
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("google_element")
        }
    </script>
    <script>


        const menu = document.querySelector(".menu");
        const menuMain = menu.querySelector(".menu-main");
        const goBack = menu.querySelector(".go-back");
        const menuTrigger = document.querySelector(".mobile-menu-trigger");
        const closeMenu = menu.querySelector(".mobile-menu-close");
        let subMenu;
        menuMain.addEventListener("click", (e) => {
            if (!menu.classList.contains("active")) {
                return;
            }
            if (e.target.closest(".menu-item-has-children")) {
                const hasChildren = e.target.closest(".menu-item-has-children");
                showSubMenu(hasChildren);
            }
        });
        goBack.addEventListener("click", () => {
            hideSubMenu();
        })
        menuTrigger.addEventListener("click", () => {
            toggleMenu();
        })
        closeMenu.addEventListener("click", () => {
            toggleMenu();
        })
        document.querySelector(".menu-overlay").addEventListener("click", () => {
            toggleMenu();
        })
        function toggleMenu() {
            menu.classList.toggle("active");
            document.querySelector(".menu-overlay").classList.toggle("active");
        }
        function showSubMenu(hasChildren) {
            subMenu = hasChildren.querySelector(".sub-menu");
            subMenu.classList.add("active");
            subMenu.style.animation = "slideLeft 0.5s ease forwards";
            const menuTitle = hasChildren.querySelector("i").parentNode.childNodes[0].textContent;
            menu.querySelector(".current-menu-title").innerHTML = menuTitle;
            menu.querySelector(".mobile-menu-head").classList.add("active");
        }

        function hideSubMenu() {
            subMenu.style.animation = "slideRight 0.5s ease forwards";
            setTimeout(() => {
                subMenu.classList.remove("active");
            }, 300);
            menu.querySelector(".current-menu-title").innerHTML = "";
            menu.querySelector(".mobile-menu-head").classList.remove("active");
        }

        window.onresize = function () {
            if (this.innerWidth > 991) {
                if (menu.classList.contains("active")) {
                    toggleMenu();
                }

            }
        }


    </script>
    @*<script>
            $(document).ready(function () {
                $(".side-menu").click(function () {

                    window.location.href = "/Buyer/ViewCart";
                })
            })
        </script>*@
    @*----Language-----*@
    @*----ALL JS FILES----*@

    <script src="~/Scripts/Buyer_js/jquery-3.2.1.min.js"></script>

    <script src="~/Scripts/Buyer_js/popper.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    @*----ALL PLUGINS----*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Buyer_js/LanguageJavaScript.js"></script>
    <script src="~/Scripts/Buyer_js/SweetAlert.js"></script>
    <script src="~/Scripts/Buyer_js/jquery.superslides.min.js"></script>

    <script src="~/Scripts/Buyer_js/bootstrap-select.js"></script>

    <script src="~/Scripts/Buyer_js/inewsticker.js"></script>

    <script src="~/Scripts/Buyer_js/bootsnav.js"></script>

    <script src="~/Scripts/Buyer_js/images-loded.min.js"></script>

    <script src="~/Scripts/Buyer_js/isotope.min.js"></script>

    <script src="~/Scripts/Buyer_js/owl.carousel.min.js"></script>

    <script src="~/Scripts/Buyer_js/baguetteBox.min.js"></script>

    <script src="~/Scripts/Buyer_js/form-validator.min.js"></script>

    <script src="~/Scripts/Buyer_js/contact-form-script.js"></script>

    <script src="~/Scripts/Buyer_js/custom.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>


