@model AgroEcommerceLibrary.Buyer.Buyer
@using AgroEcommerceLibrary.Buyer;
@using System.Data.SqlClient;

@{
    ViewBag.Title = "MegaMenu";
    Layout = "~/Views/Shared/Buyer_Layout.cshtml";
}


<link href="~/Content/Buyer_css/PaginationCss.css" rel="stylesheet" />
@*Start Gallery*@

<div class="row">
    <div class="col-lg-12">
        <div class="title-all text-center">
            <h1>Our Product</h1>

        </div>
    </div>
</div>
<div class="products-box list">
    <div class="container">
        <div class="row special-list">
            @if (Model.megamenuproducts.Count()==0)
            {
                <h5 style="font-size:larger;text-align:center;color:yellowgreen;font:500;">No Product Available Try Another Product</h5>
            }
            else
            {
                foreach (var item in Model.megamenuproducts)
                {
                    <div class="col-lg-3 col-md-6 special-grid bulbs item">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                    <p class="Quantity" style="display:none;">@item.Quantity</p>
                                </div>
                                <img class="img-fluid" style="width:325px; height:250px" src="~/Content/Images/Product/@Url.Content(item.MainImage)" alt="Image">
                                <div class="mask-icon">

                                    <ul>
                                        <li><a href="@Url.Action("ShowProdDetails", "Buyer", new { productcode = item.ProductCode })" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>

                                        @*<li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>*@
                                        @if (Session["BuyerCode"] != null)
                                        {
                                            BALBuyer obj = new BALBuyer();
                                            Buyer obj1 = new Buyer();
                                            obj1.BuyerCode = Session["BuyerCode"].ToString();
                                            obj1.ProductCode = item.ProductCode;

                                            SqlDataReader dr = obj.CheckProductInwishList(obj1);
                                            if (dr.Read())
                                            {
                                                obj1.BuyerCode = dr["BuyerCode"].ToString();
                                                obj1.ProductCode = dr["ProductCode"].ToString();
                                                obj1.OrderCode = dr["OrderCode"].ToString();
                                                obj1.OrderStatusId = Convert.ToInt32(dr["OrderStatusId"].ToString());

                                            }
                                            if (obj1.OrderStatusId == 18)
                                            {
                                                <li>
                                                    <a class="btn hvr-hover addtowishlist" style="color:red;" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="red">
                                                    <a class="btn hvr-hover addtowishlist" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                                </li>
                                            }
                                            dr.Close();

                                        }
                                        else
                                        {
                                            <li>
                                                <a class="btn hvr-hover addtowishlist" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                            </li>
                                        }

                                    </ul>
                                    @if (item.Quantity == 0)
                                    {

                                    }
                                    else
                                    {
                                        <a class="cart AddToCart" href="#" data-id="@item.ProductCode">
                                            Add To Cart

                                        </a>

                                    }
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>@item.ProductName</h4>
                                <h5> ₹@item.MRP</h5>
                            </div>
                        </div>
                    </div>
                }
            }


            </div>

    </div>
    @*<ul class="listPage">
    </ul>*@
</div>
@*End Gallery*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Buyer_js/AddToWishList.js"></script>
<script src="~/Scripts/Buyer_js/AddToCart.js"></script>
<script src="~/Scripts/Buyer_js/Pagination.js"></script>