@model AgroEcommerceLibrary.Buyer.Buyer
@using AgroEcommerceLibrary.Buyer;
@using System.Data.SqlClient;
@{

    ViewBag.Title = "SideBarShop";
    ViewBag.Title = "GetMainCategoery";
    Layout = "~/Views/Shared/Buyer_Layout.cshtml";
}

<link href="~/Content/Buyer_css/PaginationCss.css" rel="stylesheet" />

<style>

    button {
        background: none;
    }
</style>
<div>
    @*<link href="~/Content/Buyer_css/responsive.css" rel="stylesheet" />
        <link href="~/Content/Buyer_css/style.css" rel="stylesheet" />
             <link href="~/Content/Buyer_css/bootstrap.min.css" rel="stylesheet" />*@
    <!--<link href="~/Content/Buyer_css/all.css" rel="stylesheet" />-->
    @*<link href="~/Content/Buyer_css/bootstrap-select.css" rel="stylesheet" />*@
    <!--<link href="~/Content/Buyer_css/custom.css" rel="stylesheet" />-->


    @using (Html.BeginForm("SideBarShop", "Buyer", FormMethod.Post))
    {
        <div class="products-box" style="padding-bottom:0px;margin:-50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="special-menu text-center">
                            <div class="selectSection button-group filter-button-group">
                                <button class="js-click">
                                    <a class="js-click" href="@Url.Action("SideBarShop","Buyer", new { id = "" })" style="color:white;">All</a>
                                </button>

                                @foreach (var item in Model.category)
                                {

                                    <button > <a onclick="" class="js-click" href="@Url.Action("SideBarShop", new { id = item.CategoryId })" data-id="@item.CategoryId" style="color:white;">@item.CategoryName</a></button>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Shop Page  -->
        <div class="shop-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                        <div class="right-product-box">
                            <div class="product-item-filter row">
                                <div class="col-12 col-sm-8 text-center text-sm-left">
                                    <div class="toolbar-sorter-right">
                                        @*<span>Sort by </span>

                                        <select id="dropdown" class="show-tick form-control" style="width:205px;" name="dropdownName">
                                            <option value=null>All</option>
                                            <option value="1">Low Price→High Price </option>
                                            <option value="2">High Price→Low Price</option>
                                            <option value="3">Best Selling</option>
                                        </select>*@
                                        <div class="input-group">
                                            <span>
                                                <input type="submit" value="Sort" class="btn hvr-hover" style="color:white;font-weight:bolder;border:none" />
                                            </span>
                                            <div>
                                                @Html.DropDownListFor(model => model.Sort, new SelectList(ViewBag.Sortlist), "All", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <p>Showing all  results</p>
                                </div>
                                <div class="col-12 col-sm-4 text-center text-sm-right">
                                    <ul class="nav nav-tabs ml-auto">
                                        <li>
                                            <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                        </li>
                                        @*<li>
                                                <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>

                            <div class="product-categorie-box list" id="ViewProdId">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                        <div class="row">
                                            @if (Model.products.Count() == 0)
                                            {
                                                <h5 style="font-size:larger;text-align:center;color:yellowgreen;font:500;">No Product Available Try Another Product</h5>
                                            }
                                            else
                                            {
                                                foreach (var item in Model.products)

                                                {
                                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 item">
                                                        <div class="products-single fix">
                                                            <div class="box-img-hover">
                                                                <div class="type-lb">
                                                                    <p class="sale">Sale</p>
                                                                    <p class="Quantity" style="display:none;">@item.Quantity</p>
                                                                </div>
                                                                <img class="img-fluid" style="width:325px; height:250px" src="~/Content/Images/Product/@Url.Content(item.MainImage)" alt="Image">
                                                                <div class="mask-icon">

                                                                    <ul>
                                                                        <li><a href="@Url.Action("ShowProdDetails", "Buyer", new { productcode = item.ProductCode })" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>

                                                                        @*<li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>*@
                                                                        @if (Session["BuyerCode"] != null)
                                                                        {
                                                                            BALBuyer obj = new BALBuyer();
                                                                            Buyer obj1 = new Buyer();
                                                                            obj1.BuyerCode = Session["BuyerCode"].ToString();
                                                                            obj1.ProductCode = item.ProductCode;

                                                                            SqlDataReader dr = obj.CheckProductInwishList(obj1);
                                                                            if (dr.Read())
                                                                            {
                                                                                obj1.BuyerCode = dr["BuyerCode"].ToString();
                                                                                obj1.ProductCode = dr["ProductCode"].ToString();
                                                                                obj1.OrderCode = dr["OrderCode"].ToString();
                                                                                obj1.OrderStatusId = Convert.ToInt32(dr["OrderStatusId"].ToString());

                                                                            }
                                                                            if (obj1.OrderStatusId == 18)
                                                                            {
                                                                                <li>
                                                                                    <a class="btn hvr-hover addtowishlist" style="color:red;" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li class="red">
                                                                                    <a class="btn hvr-hover addtowishlist" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                                                                </li>
                                                                            }
                                                                            dr.Close();

                                                                        }
                                                                        else
                                                                        {
                                                                            <li>
                                                                                <a class="btn hvr-hover addtowishlist" href="#" data-id="@item.ProductCode"><i class="fas fa-heart"></i></a>
                                                                            </li>
                                                                        }

                                                                    </ul>
                                                                    @if (item.Quantity == 0)
                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="cart AddToCart" href="#" data-id="@item.ProductCode">
                                                                            Add To Cart

                                                                        </a>

                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="why-text">
                                                                <h4>@item.ProductName</h4>
                                                                <h5> ₹@item.MRP</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            }

                                        </div>
                                    </div>

                                </div>
                                <ul class="listPage">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                        <div class="product-categori">

                            <!--<div class="search-product">
                                <form action="#">-->
                            @*<input type="text" class="form-control" name="prosearch" placeholder="Search" id="Search">
                                <input class="form-control" placeholder="Search here..." type="text" name="prosearch">*@
                            @*<button type="submit"> <i class="fa fa-search"></i> </button>*@
                            <!--</form>
                            </div>-->

                            @using (Html.BeginForm("SideBarShop", "Buyer", FormMethod.Get))
                            {

                                <div class="search-product">
                                    <form action="#">
                                        <input type="text" name="prosearch" class="form-control" />
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </form>
                                </div>

                            }

                            <div class="filter-sidebar-left">
                                <div class="title-left">
                                    @*<h3>Categories</h3>*@
                                </div>
                                <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                    @*<div class="list-group-collapse sub-men">
                                            <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                                Fruits & Drinks <small class="text-muted">(100)</small>
                                            </a>
                                            <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action active">Fruits 1 <small class="text-muted">(50)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Fruits 2 <small class="text-muted">(10)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Fruits 3 <small class="text-muted">(10)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Fruits 4 <small class="text-muted">(10)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Fruits 5 <small class="text-muted">(20)</small></a>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*<div class="list-group-collapse sub-men">

                                            <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">
                                                Vegetables
                                                <small class="text-muted">(50)</small>
                                            </a>
                                            <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 1 <small class="text-muted">(10)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 2 <small class="text-muted">(20)</small></a>
                                                    <a href="#" class="list-group-item list-group-item-action">Vegetables 3 <small class="text-muted">(20)</small></a>
                                                </div>
                                            </div>
                                        </div>*@





                                    @*<a href="#" class="list-group-item list-group-item-action"> Grocery  <small class="text-muted">(150) </small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(11)</small></a>
                                        <a href="#" class="list-group-item list-group-item-action"> Grocery <small class="text-muted">(22)</small></a>*@
                                </div>
                            </div>
                            @*<div class="filter-price-left">
                                    <div class="title-left">
                                        <h3>Price</h3>
                                    </div>
                                    <div class="price-box-slider">
                                        <div id="slider-range"></div>
                                        <p>
                                            <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                            <button class="btn hvr-hover" type="submit">Filter</button>
                                        </p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Buyer_js/AddToWishList.js"></script>
<script src="~/Scripts/Buyer_js/AddToCart.js"></script>
<script src="~/Scripts/Buyer_js/Pagination.js"></script>

<script>
    $(".js-click").click(function () {
        var parent = $buttonClicked.parent().parent().parent().parent();
        parent.find(".js-click").css("color", "black");
    });
</script>

<script>

    $("#dropdown").on("change", function () {
        var item = $("#dropdown option:selected").val();
        $.ajax({
            url: "/Buyer/SideBarShop",
            type: "POST",
            data: {
                Filter: item
            }
        });

    });
</script>
<!-- End Shop Page -->
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
@*<script>
    $(document).ready(function () {
        $("#CategoryName").change(function () {
            var cid = $(this).val();
            $("#ViewId").empty();
            $.get("/Buyer/ShowCategoeryProducts", { categoryid: cid }, function (data) {
                var v = "<div>--select--</div>";
                $.each(data, function (i, v1) {

                    v += "<div>" + v1.ProductName + "</div>"+
                        "<div>" + v1.MRP + "</div>" +
                        "<div>" + v1.MainImage + "</div>";

                    /*  v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";*/
                    /* v += "<div=" + v1.MRP + ">" + v1.ProductName +  "</div>";*/
                });
                $('#ViewId ').html(v);
               /* $("#ViewId").html(v);*/
            });
        });
        //});
        //$(document).ready(function () {
        //$("#StateId").change(function () {
        //    var sid = $(this).val();
        //    $("#CityId").empty();
        //    $.get("Buyer/ShowCategoeryProducts", { stateid: sid }, function (data) {
        //        var v = "<option>--select--</option>";
        //        $.each(data, function (i, v1) {
        //            v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
        //        });
        //        $("#CityId").html(v);
        //    });
        //});
    });</script>*@
<!-------hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh----------------------/--->
@*<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Home/GetCountries',
                datatype: 'JSON',
                data: {},
                success: function (data) {
                    $('#employeeDropDownList').empty();
                    $('#employeeDropDownList').append("<option value='0'>Select</option>");
                    $.each(data, function (i, item) {
                        $('#employeeDropDownList').append("<option value='" + item.Id + "'>" + item.Text + "</option>");
                    });
                },
                error: function (data) { alert(data.responseText); }
            });

            $("#employeeDropDownList").change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetEmployees',
                    datatype: 'JSON',
                    data: { 'country': $(this).val() },
                    success: function (data) {
                        $('#example1 tbody').empty();
                        $.each(data, function (i, item) {
                            var rows = "<tr>" +
                                "<td>" + item.Id + "</td>" +
                                "<td>" + item.FirstName + "</td>" +
                                "<td>" + item.LastName + "</td>" +
                                "<td>" + item.City + "</td>" +
                                "<td>" + item.Country + "</td>" +
                                "</tr>";
                            $('#example1 tbody').append(rows);
                        });
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });
        });
    </script>

    <body>
        <div class="col-md-3">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter</span> <span class="caretuse "></span>
                    </button>
                </div>
                <select id="employeeDropDownList" name="employeeDropDownList" class="form-control select2 select2-hidden-accessible"
                        style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>*@

